In [1]:
# A list named ages is declared
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]

# Sort() function is used to sort the ages

ages.sort()
print("Sorted list:",ages)

#Finding the minimum and maximum element of the list 
Minimum = min(ages)
Maximum = max(ages)

#Printing the mimimum and maximum element of the list.
print("Minimum element is", Minimum)
print("Maximum element is", Maximum)

#Appending the minimum and maximum values to the sorted list.
ages.append(Minimum)
ages.append(Maximum)

#Printing the latest list after appending the mimimum and maximum values.
print("Latest list:", ages)

#Importing the Statistics module for finding the median of the list.
import statistics

#using the statistics.median() method
Median = statistics.median(ages)

#Printing the Median of the list
print("Median is:", Median)

#Finding the average of the list 
Average = sum(ages)/len(ages)

#Printing the average element
print ("Avereage element is:", Average)

# The Range of ages is
print("The Range of list difference : ", ages[len(ages)-1]-ages[0])

Sorted list: [19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
Minimum element is 19
Maximum element is 26
Latest list: [19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 19, 26]
Median is: 24.0
Avereage element is: 22.75
The Range of list difference :  7

In [2]:
#A dictionary named Dog is Declared.

dog = { "name" : "Tommy"  , "color" : "black", "breed" : "pumalian" , "legs" : 4, "age" : 10}
#Printing the Dictionary

print("Dictionary Dog : ",dog)

""""Declaring the Student dictionary including the fields such as first name, last name, age,marital status, 
skills, country and address."""

student = {"first_name" : "Haneesha","last_name" : "Aldena", "gender" : "Female","age" : 22,"marital_status" : "Single",
    "skills" : ["C", "C++", "Python", "Java"],"country" : "USA","city" : "kansas city", "address" : "8392 W 99th Ct"}
#Printing the Student Dictionary

print("Student:", student)

#Finding and printing the length of student dictonary

print("Length of the student dictonary is: ",len(student))

#Printing the values of skills and the data type.

print("Skills : ",student["skills"],"and Data type of skills : ",type(student["skills"]))

# Modifying the Skills list by appending the skill #JavaScript to the list.

student["skills"].append("JavaScript")

print("After Adding JavaScript Skill : ",student["skills"])

#Displaying student keys

print("Student keys are : ",student.keys())

#Displaying Values of student

print("Student values are : ",student.values())

Dictionary Dog :  {'name': 'Tommy', 'color': 'black', 'breed': 'pumalian', 'legs': 4, 'age': 10}
Student: {'first_name': 'Haneesha', 'last_name': 'Aldena', 'gender': 'Female', 'age': 22, 'marital_status': 'Single', 'skills': ['C', 'C++', 'Python', 'Java'], 'country': 'USA', 'city': 'kansas city', 'address': '8392 W 99th Ct'}
Length of the student dictonary is:  9
Skills :  ['C', 'C++', 'Python', 'Java'] and Data type of skills :  <class 'list'>
After Adding JavaScript Skill :  ['C', 'C++', 'Python', 'Java', 'JavaScript']
Student keys are :  dict_keys(['first_name', 'last_name', 'gender', 'age', 'marital_status', 'skills', 'country', 'city', 'address'])
Student values are :  dict_values(['Haneesha', 'Aldena', 'Female', 22, 'Single', ['C', 'C++', 'Python', 'Java', 'JavaScript'], 'USA', 'kansas city', '8392 W 99th Ct'])

In [3]:
#A tuple named brothers is declared
brothers = ("Jeevitesh", "kishore", "likhit")
print("Brothers: ",brothers)

#A tuple named sister is declared

sisters = ("Priyanka", "priya")

print("Sisters : ",sisters)

#joining the brothers tuple and sisters tuple to the tuple named siblings

siblings = brothers + sisters

#Printing the tuple - Siblings
print ("Siblings: ", siblings)

#Total number of siblings
print("Total Siblings : ", len(siblings))

#Modifying the tuple value by adding mother and father name

H = list(siblings)
Father = "Samba"
Mother = "Suseela"
H.append(Father)
H.append(Mother)

# Assigning to family members

family_members = tuple(H)

print("Family Members : ",family_members)

Brothers:  ('Jeevitesh', 'kishore', 'likhit')
Sisters :  ('Priyanka', 'priya')
Siblings:  ('Jeevitesh', 'kishore', 'likhit', 'Priyanka', 'priya')
Total Siblings :  5
Family Members :  ('Jeevitesh', 'kishore', 'likhit', 'Priyanka', 'priya', 'Samba', 'Suseela')

In [4]:
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}

print("IT Companies : ", it_companies)
#Printing the length of it_companies

print("Length of it_compamies is: ",len(it_companies))

#Adding the item Twitter to it_companies

it_companies.add("Twiter")
print("it_companies after adding Twitter: ",it_companies)

#inserting multiple it companies to the set it_companies.

it_companies_2 = { 'TCS', 'Virtusa' }

it_companies.update(it_companies_2)

print("Adding Adding Items to it_compaies : ",it_companies)

#Removing item Virtusa from the set

it_companies.remove("Virtusa")

print("After Removing Virtusa from Set : ",it_companies)

#Difference betweeb remove() and discard

""" 
The Remove() and Discard() method used to delete the item in the set. The 
main differnece between remove() and discard() is remove() will raise an 
issue if the element is not availabe in the set but discard element does not 
raise an error if so. 
"""
#Example : 
#Doesn't show any error
it_companies.discard("Virtusa")

print("After using discard function : ", it_companies)

#it_companies.remove("Virtusa")

# Shows Error if element is not available
#print("After using remove function : ", it_companies)

#Declring the sets A and B

A = {19, 22, 24, 20, 25, 26}

B = {19, 22, 20, 25, 26, 24, 28, 27}

#Joining the sets A and B
C=A.union(B)

print("Joining Set A and Set B : ",C)

#Finding the intersection of sets A and B

I = A.intersection(B)

print("Intersection of set A and set B : ", I)
 
#Checking Weather A is Subset of B or not

S = A.issubset(B)
print("A is subset of B : ",S)

#Checking weather A is disjoint set of B or not

D = A.isdisjoint(B)
print("Weather A is disjoint set of B : ",D)

#Joining A with B and B with A

print("Joining Set A with Set B : ",A.union(B))

print("Joining Set B with Set A : ",B.union(A))

#Symmetric difference between A and B

Sy = A.symmetric_difference(B)

print("Symmetric Difference Between Set A and Set B : ",Sy)

#Deleting the entire Sets (Set A and Set B)

A.clear()
B.clear()

print(A)
print(B)

#Converting ages into complete set

age = [22, 19, 24, 25, 26, 24, 25, 24]

print("Age :",age)

sage = set(age)

print("After converting age into set : ",sage, type(sage))

print("length of set age : ",len(sage))
print("length of list age : ",len(age))

IT Companies :  {'Apple', 'IBM', 'Facebook', 'Amazon', 'Microsoft', 'Oracle', 'Google'}
Length of it_compamies is:  7
it_companies after adding Twitter:  {'Apple', 'IBM', 'Facebook', 'Amazon', 'Microsoft', 'Oracle', 'Twiter', 'Google'}
Adding Adding Items to it_compaies :  {'Apple', 'Virtusa', 'Facebook', 'Amazon', 'Microsoft', 'Oracle', 'Twiter', 'Google', 'IBM', 'TCS'}
After Removing Virtusa from Set :  {'Apple', 'Facebook', 'Amazon', 'Microsoft', 'Oracle', 'Twiter', 'Google', 'IBM', 'TCS'}
After using discard function :  {'Apple', 'Facebook', 'Amazon', 'Microsoft', 'Oracle', 'Twiter', 'Google', 'IBM', 'TCS'}
Joining Set A and Set B :  {19, 20, 22, 24, 25, 26, 27, 28}
Intersection of set A and set B :  {19, 20, 22, 24, 25, 26}
A is subset of B :  True
Weather A is disjoint set of B :  False
Joining Set A with Set B :  {19, 20, 22, 24, 25, 26, 27, 28}
Joining Set B with Set A :  {19, 20, 22, 24, 25, 26, 27, 28}
Symmetric Difference Between Set A and Set B :  {27, 28}
set()
set()
Age : [22, 19, 24, 25, 26, 24, 25, 24]
After converting age into set :  {19, 22, 24, 25, 26} <class 'set'>
length of set age :  5
length of list age :  8

In [5]:
#The radius of a circle is 30 meters
r=30

#Determining the area of the circle

_area_of_circle_ = 3.14 * (r**2)

print("The area of circle is: ", _area_of_circle_ )

#Finding the Circumference of the circle

_circum_of_circle_ = 2 * 3.14 * r

print("Circumference of circle : ", _circum_of_circle_)

print()

input_radius = int(input("Enter the radius "))

area = 3.14 * input_radius

print("area of circle with the radius determined  by the user:", area)

The area of circle is:  2826.0
Circumference of circle :  188.4

Enter the radius 6
area of circle with the radius determined  by the user: 18.84

In [6]:
#Declaring the string

str = "I am a teacher and I love to inspire and teach people"

print("The Given string is : ", str)

# Stored the string str in a set using the split() function.

Set = set(str.split(" "))

#finding the number of unique words.

print("Number of unique words:", len(Set))
 
#Printing the unique words of a string by printing the set.

print("Unique words : ", Set)

The Given string is :  I am a teacher and I love to inspire and teach people
Number of unique words: 10
Unique words :  {'am', 'and', 'a', 'teacher', 'inspire', 'I', 'teach', 'people', 'to', 'love'}

In [7]:
#Printing According to the pattern
print("Name \t\t Age \t Country \t City")
print("Asabeneh \t 250 \t Finland \t Helsinki")

Name 		 Age 	 Country 	 City
Asabeneh 	 250 	 Finland 	 Helsinki

In [8]:
#Using String formatting method

radius = 10
area = 3.14 * radius ** 2
print("The Area of Circle with radius {} is {} meters square.".format(radius,area))

The Area of Circle with radius 10 is 314.0 meters square.

In [9]:
#An empty list named l which reads the weights of N students is declared

l = []

#Taking input from User
  
n = int(input("Enter number of weights : "))
  
# Appending the values to list l
for i in range(0, n):
    ele = int(input())
    l.append(ele) # adding the element
      
print("The weights of N students:", l)

#A list named Kg is declared which contains the values converted from lbs to Kilograms

kg=[]

for i in range(0, n):
    ele =0.45359237 * i
    kg.append(ele)

print("The weights of N students converted to Kilograms from lbs:", kg)

Enter number of weights : 5
45
87
65
98
45
The weights of N students: [45, 87, 65, 98, 45]
The weights of N students converted to Kilograms from lbs: [0.0, 0.45359237, 0.90718474, 1.3607771100000001, 1.81436948]